$navbar-height: 1rem
$navbar-item-img-max-height: 2.5rem

@import '~bulma'

$tm-yellow: hsla(36, 95%, 57%, 1)
$tm-mustard: hsla(32, 98%, 53%, 1)
$light-grey: hsla(0, 0%, 43%, 1)
$darkest-grey: hsla(240, 2%, 18%, 1)
$light-blue: hsla(196, 86%, 53%, 1)
$light-blue-er: hsla(196, 86%, 60%, 1)

.is-tm-yellow
  background-color: $tm-yellow

.is-light-grey
  background: $light-grey

.is-darkest-grey
  background: $darkest-grey

.is-light-blue
  background: $light-blue

.is-light-blue-er
  background: $light-blue-er

.is-tm-mustard
  background: $tm-mustard

.has-huge-text
  transform: matrix(10, 0, -5, 10, 0, 0)

.margin-top-0
  margin-top: 0

.hero-image
  background-size: cover
  left: auto
  position: relative
  top: auto
  transform: none
  width: 100vw
  z-index: -100
